/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum height of the body to ensure footer sticks to the bottom */
}

nav {
    background-color: #333;
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav .logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f1f1f1;
}

/* Page CV */
.cv-container {
    max-width: 900px;
    margin: 100px auto 20px; /* Espace du carrousel et marge en bas */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-grow: 1; /* Permet au contenu de prendre l'espace restant */
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

/* Section de téléchargement */
.download-section {
    text-align: center;
    margin-bottom: 40px;
}

.btn-download {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.btn-download:hover {
    background-color: #45a049;
}

/* Section Image CV */
.image-section {
    text-align: center;
}

.cv-image {
    width: 80%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}